*{
    font-family: 'Rubik', sans-serif;
}
.main {
    display: grid;
    gap: 10px;
    /* "grid-template-areas" permite definer la cuadrilla como se distribuira en el grid */
    grid-template-areas: 
    "header     header"  
    "nav        nav"
    "section    section" 
    "aside1     aside1"
    "aside2     aside2"
    "footer     footer";
    /* "grid-template-columns" define el ancho de las columnas */
    grid-template-columns: 100px auto;
    /* "grid-template-rows" define el alto de las filas */
    grid-template-rows: 100px 80px auto auto auto 50px;
}
/* Estilo para todos los descendientes de '.main' */
.main > * {
    box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
    border: solid 1px;
}
#header {
    background-color: aquamarine;
    height: auto;
    grid-area: header;
    display: flex;
    align-items: center;
    justify-content: center;
}
#nav {
    background-color: aqua;
    height: auto;
    grid-area: nav;
}
#section {
    background-color: pink;
    width: auto;
    grid-area: section;
    text-justify: auto;
    text-align: justify;
}
#section h2{
    background-color: pink;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
#aside1 {
    background-color: orchid;
    width: auto;
    grid-area: aside1;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#aside1 h3 {
    background-color: orchid;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
#aside2 {
    background-color: paleturquoise;
    width: auto;
    grid-area: aside2;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#aside2 h3 {
    background-color: paleturquoise;
    width: auto;
    grid-area: aside1;
    display: flex;
    align-items: center;
    justify-content: center;
}
#footer {
    background-color: rosybrown;
    width: auto;
    height: auto;
    clear: both;
    grid-area: footer;
    display: flex;
    flex-direction: column;
}

@media (min-width: 600px) {
    .main {
        /* "grid-template" permite definir la cuadrilla y los tamaños como se distribuira en el grid (en la columna fuera de las comillas se asigna el alto de las filas) (despues del '/' se asigna el ancho de las columnas) 
        En caso de querer dejar un espacio vacío, se debe reemplazar el nombre del elemneto (header) por un '.' */
        grid-template:
        "header     header      header"     100px
        "nav        nav         nav"        auto
        "section    aside1      aside1"     auto
        "section    aside2      aside2"     auto
        "footer     footer      footer"     auto /
        150px       auto        auto;
    }
    #footer > *{
        margin: 1px;
    }
}

@media (min-width: 900px) {
    .main {
        grid-template:
        "header     header      header"     100px
        "nav        nav         nav"        auto
        "section    aside1      aside2"     450px
        "footer     footer      footer"     auto /
        150px       auto        auto;
    }
    #footer > *{
        margin: 1px;
    }
}